@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>My Favorite Music Video</title>
</head>
<body>
    <h1 id="animatedTitle">🎵 My Favorite Song 🎵</h1>

    <!-- Embedded YouTube Video -->
    <iframe width="860" height="615"
            src="https://www.youtube.com/embed/watch?v=B33a8YkS-hU&list=RDB33a8YkS-hU&start_radio=1"
            title="YouTube video player"
            allowfullscreen>
    </iframe>
</body>
</html>